@model ProjeYonetimSistemi.UI.MVC.Dto.Task.UpdateTaskDto

@{
    ViewBag.Title = "Edit Task";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card" style="background-color: inherit; border: none;">
                    <div class="card-header">
                        <h1>Görev Düzenle</h1>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post">
                            <div class="form-group">
                                <label asp-for="ProjectId">Proje İsmi</label>
                                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.Projects">
                                    <option value="">Proje Seçin</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="TaskName" class="control-label">Görev İsmi</label>
                                <input asp-for="TaskName" class="form-control" />
                                <span asp-validation-for="TaskName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TeamMembers" class="control-label">Takım Üyeleri</label>
                                <input asp-for="TeamMembers" class="form-control" />
                                <span asp-validation-for="TeamMembers" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Açıklama</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DueDate" class="control-label">Teslim Tarihi</label>
                                <input asp-for="DueDate" class="form-control" type="date" />
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary">Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
