@model IEnumerable<ProjeYonetimSistemi.UI.MVC.Entity.TaskEntity>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i>
                        Görev Listesi
                    </h3>
                    <a href="@Url.Action("Create", "Task")" class="btn btn-primary float-left"><i class="fas fa-plus" style="margin-left: 10px;"></i> Görev Ekle</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <ul class="todo-list" data-widget="todo-list">
                        @foreach (var item in Model)
                        {
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                                <!-- checkbox -->
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox" value="" id="todoCheck@item.Id">
                                    <label for="todoCheck@item.Id"></label>
                                </div>
                                <!-- todo text -->
                                <span class="text">@item.Name</span>
                                <!-- Emphasis label -->
                                <small class="badge badge-danger"><i class="far fa-clock"></i> @item.DueDate.ToShortDateString()</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-o"></i>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
