
<div class="sidebar">

	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

			<a href="~/#" class="nav-link">
				<i class="fas fa-home"></i>
				<p>
					Ana Sayfa
					<span class="right badge badge-danger"></span>
				</p>
			</a>


			<a href="~/Project/Index" class="nav-link">
				<i class="fas fa-project-diagram"></i>
				<p>
					Proje Yönetimi
					<span class="right badge badge-danger"></span>
				</p>
			</a>

			<a href="~/Task/Index" class="nav-link">
				<i class="fas fa-tasks"></i>
				<p>
					Görev Yönetimi

				</p>
			</a>

			<a href="~/User/Index" class="nav-link">
				<i class="fas fa-users"></i>
				<p>
					Kullanıcı Yönetimi

				</p>
			</a>
			<a href="~/Team/Index" class="nav-link">
				<i class="fas fa-users"></i>
				<p>
					Takım Yönetimi

				</p>
			</a>

			<a href="~/Report/Index" class="nav-link">
				<i class="fas fa-paperclip"></i>
				<p>
					Rapor Yönetimi

				</p>
			</a>

			</li>








		</ul>
		</li>



		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>